@import url('https://fonts.googleapis.com/css?family=Roboto:700,900|Archivo+Black|Source+Sans+Pro');


html {
    font-size: 18px;
}
sup {
    font-size: 0.8rem;
    vertical-align:super;
}


.main-section {
    height: 100vh;
}

.transparent {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    background-size: cover;
}

.reelvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/back.jpg) no-repeat;
    background-size: cover;
}
.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;
    width: 100%;
}

.top-content {
    order: 1;
    flex-grow: 1;
    align-self: stretch;
}


.logo {
    margin-top: -14px;
    padding-top: 5.8% ;
    margin-left: 6.5%;
}

.logotype {
    font-size: 1rem;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
}

.dot {
    display: inline;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
}

.ham-block {
    position: absolute;
    top: 2.6%;
    right: 5.5%;
}
.hamburger {
        width:22px;
        height:4px;
        background-color:#fff;
        position:relative;
    }

.hamburger:after, .hamburger:before  {
        content: '';
        width: 100%;
        height:4px;
        background-color:#fff;
        position:absolute;
    }

.hamburger:after {
        top:8px;
    }

.hamburger:before {
        top:16px;
    }



.middle-content {
    color: #fff;
    order: 2;
    flex: 1;
    justify-content: center;
}

.belief {
    font-family: "Adobe Caslon Pro", serif;
    font-style: italic;
    font-size: 1.8rem;
    margin-bottom: 5%;
}

.tm {
    font-family: 'Archivo Black', sans-serif;
    left:3px
    /*font-size: 0.5rem;*/
}

.slash {

    height: 8px;
    width: 125px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 12%;
}

.reel {
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: 2px
}

.play-btn-vector {
    height: 13px;
    width: 13px;
}


@media (min-width: 768px) {

    .logo {
        display: inline-block;
        padding-top: 5.9%;
        margin-left: 6.5%;
    }


    .logotype {
        font-size: 1.5rem;
        letter-spacing: 0.1rem;
        color: #fff;
        font-family: 'Archivo Black', sans-serif;
    }

    .dot {
        display: inline;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 2.2rem;
    }
    .ham-block {
        position: absolute;
        top: 10.8%;
        right: 4.5%;
    }
    .hamburger {
        width: 30px;
        height: 5px;
        background-color: #fff;
        position: relative;
    }

    .hamburger:after, .hamburger:before {
        content: '';
        width: 100%;
        height: 5px;
        background-color: #fff;
        position: absolute;
    }

    .hamburger:after {
        top: 10px;
    }

    .hamburger:before {
        top: 20px;
    }

    .belief {
        font-family: "Adobe Caslon Pro", serif;
        font-style: italic;
        font-size: 2.4rem;
        margin-bottom: 5%;
        font-weight: 300;
    }
}

.bottom-content {
    order: 3;
    flex: 1;
}

.arrow-vector {
    height: 30px;
    width: 25px;
    transform: rotate(90deg);
    position: absolute;
    bottom: 12.5%
}

.arrow-line {
    fill: #fff;
}


